/* 5. PROJECT DETAILS LAYOUT
______________________________________________________ */
/* Project title div */
#project-title::before {
	content: "“";
}
#project-title {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 46vw;
	font-family: "Roboto", sans-serif;
	font-size: 4rem;
}
#project-title::after {
	content: "”";
}
#skills {
	width: 32vw;
	padding-right: 20px;
}
#skills ul {
	margin-top: -45px;
}
#skills li {
	font-family: "Roboto", sans-serif;
	list-style-type: square;
}
#skills img {
	opacity: .15;
	display: inline;
	margin: 0 -20px;
	transition: all 1s ease-in-out;
}
#skills-title {
	display: inline;
	text-transform: uppercase;
	font-size: 1.5rem;
	margin-right: -90px;
}
#snapshots {
	display: flex;
	height: 100%;
	width: 68vw;
}
.block {
	margin-left: 10px;
  padding-bottom: 30px;
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	cursor: pointer;
}
.block img {
	opacity: .9;
	border: 4px solid #1f1d1d;
	border-radius: 5px;
	transition: all .3s ease-in-out;
}
.block:hover img {
	opacity: 1;
	transform: scale(1.01);
}
.block:hover .block-mirror {
	transform: scaleY(-1) scale(1.01);
}
.block p {
	opacity: .50;
	font-family: "Roboto", sans-serif;
	font-size: .9rem;
  margin-bottom: .9rem;
}
.block-mirror {
	height: 30px;
	opacity: .4;
	transform: scaleY(-1);
	background-position: bottom;
	margin-top: 1px;
	border-radius: 0 0 5px 5px;
	border: 3px solid;
	transition: all .2s ease-in-out;
}
/* Footer menu */
#project-details-menu {
  width: 90vw;
	display: flex;
	height: 7vh;
	transition: all 1s ease-in-out .5s;
}
.bottom-menu {
	display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
	text-transform: uppercase;
}
.bottom-menu p, a {
	font-family: "Roboto", sans-serif;
	font-size: 1.15rem;
}
.bottom-menu p {
	margin: 0 20px 0 0;
}
#tech figure {
	margin-bottom: -10px;
}
#tech figure img {
	margin: 0 5px;
	text-align: center;
	transition: all .2s ease-in-out;
}
#tech figure img:hover {
	margin-bottom: 10px;
}
#tech figure:hover figcaption {
  opacity: 1;
}
#tech figcaption {
	background-color: rgb(34, 32, 29, .4);
	font-size: .65rem;
	text-transform: uppercase;
	text-align: center;
  opacity: 0;
	transition: all .2s ease-in-out;
}
/* Check box completed */
.check-box {
  position: relative;
  height: 30px;
  width: 30px;
  border: 2px solid white;
  border-radius: 4px;
}
.check-box.true::after {
  position: absolute;
  content: 'L';
  transform: rotateZ(45deg) rotateY(180deg);
  font-size: 4rem;
  color: #00ff70;
  right: -10px;
  bottom: -20px;
  transition: all .2s ease-out;
}
.check-box:hover::after {
  transform: rotateZ(45deg) rotateY(180deg) rotateX(30deg) scale(1.2);
}
#projects-github {
	width: 40%;
	margin: 0;
}
#projects-github a {
	color: white;
	transition: all .2s ease-in-out;
}
#projects-github a:hover {
	color: #f05133;
	text-decoration: none;
}
#projects-github img {
	margin: 0 5px;
	transition: all .5s ease-in-out .1s;
}
#projects-github:hover img {
	transform: rotateZ(360deg);
}

/* Big navigation arrows */
.arrow {
	background: white;
	border-radius: 60px;
  width: 60px;
  height: 60px;
  opacity: .05;
	top: 46vh;
	cursor: pointer;
}
#left {
	position: absolute;
	left: 1vw;
	transition: all .15s ease-in-out;
}
#left:hover {
	left: .5vw;
	opacity: .4;
}
#left::after {
  position: absolute;
	content: '';
  height: 20px;
  width: 20px;
  left: 24px;
  top: 20px;
  transform: rotateZ(225deg);
  border-top: 3px solid rgb(34, 32, 29, .4);
  border-right: 3px solid rgb(34, 32, 29, .4);
  border-radius: 3px;
}
#right {
	position: absolute;
	right: 1vw;
	transition: all .15s ease-in-out;
}
#right:hover{
	right: .5vw;
	opacity: .4;
}
#right::after {
  position: absolute;
	content: '';
  height: 20px;
  width: 20px;
  right: 24px;
  top: 20px;
  transform: rotateZ(45deg);
  border-top: 3px solid rgb(34, 32, 29, .4);
  border-right: 3px solid rgb(34, 32, 29, .4);
  border-radius: 3px;
}
