/* 5. FOOTER
______________________________________________________ */
#footer {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 90vw;
	height: 12vh;
	margin: 0;
}
#footer-nav {
	display: flex;
	opacity: 0;
	height: 5vh;
	align-self: center;
	margin: 10px;
	transition: opacity .3s ease-in-out 2s;
}
#footer-nav.appears {
	opacity: 1;
}
.footer-nav-item {
	display: flex;
	align-items: center;
	position: relative;
	font-size: .8rem;
	letter-spacing: 1rem;
	cursor: pointer;
	transition: all .15s ease-in-out;
}
.footer-nav-item:hover {
	color: rgb(34, 32, 29, .4);
}
.footer-nav-item.active {
	color: rgb(34, 32, 29, .4);
}
.footer-nav-item.current {
	color: rgb(34, 32, 29, .3);
}
.footer-nav-item::after {
  opacity: 0;
  position: absolute;
  content: '🔲';
  color: rgb(34, 32, 29, .4);
	transition: all .15s ease-out;
}
.footer-nav-item.current::after {
  opacity: 1;
}
/* Slider bg */
#colored-bg {
	position: absolute;
	z-index: 0;
	top: 0;
	right: -100vw;
	transition: all .8s ease-in-out .1s;
}
#colored-bg.slide-left {
	right: 0;
}
