/**
 * Author : Jean-Baptiste Pellier
 * Project Name : My Own Private Portfolio
 * Description : Build a website to display my projects & skills
 * Tags : JS / ES6 / CCS 3 / HTML 5 / BOOTSTRAP / OOP / GITHUB / jQuery
 */

/* ======================= INDEX =======================

 1. HTML, BODY, FONTS & COLORS
 2. HOME SCREEN & TITLE (homescreen.css)
 3. MAIN PAGE LAYOUT (maingpage.css)
 4. PROJECT DETAILS LAYOUT (detailspage.css)
 5. FOOTER & BG SLIDER (footer.css)
 6. ANIMATIONS

*/

/* 1. HTML, BODY, FONTS & COLORS
______________________________________________________ */
html, body {
	height: 100%;
	background: #debe68;
	overflow: hidden;
	color: white;
}
/* Home screen big title */
h1 {
	font-family: "Courier New", Courier, monospace;
	font-size: 9rem;
}
/* Main page title/logo */
h2 {
	font-family: "Courier New bolder", Courier, monospace;
	font-size: 3.8rem;
}
/* FR | EN & subtitle's description */
h3 {
	font-family: "Roboto", sans-serif!important;
	font-size: 1.05rem;
	display: inherit;
}
/* Miniature's overscreen infos */
h4 {
	font-family: "Roboto", sans-serif!important;
	font-size: .9rem;
}
/* Bottom nav categories */
h6 {
	font-family: "Roboto", sans-serif!important;
	font-size: 1.15rem;
}
.content-font {
	font-family: "Roboto", sans-serif!important;
	font-size: 1.25rem;
}
.z-index {
	position: relative;
	z-index: 1;
}
#blocker {
	opacity: 0;
	z-index: 8;
	position: absolute;
	height: 100vh;
	width: 100vw;
}
/* 6. ANIMATIONS
______________________________________________________ */
.invisible {
	opacity: 0;
}
.fade-in {
	-webkit-animation: fade-in .4s ease-in-out .1s;
					animation: fade-in .4s ease-in-out .1s;
}
.fade-out-in {
	-webkit-animation: fade-out-in .6s ease-in-out;
					animation: fade-out-in .6s ease-in-out;
}
.three-sixty {
	-webkit-animation: three-sixty 8s linear infinite;
					animation: three-sixty 8s linear infinite;
}
.minus-three-sixty {
	-webkit-animation: three-sixty 10s linear reverse infinite;
					animation: three-sixty 10s linear reverse infinite;
}
.swing-in {
	-webkit-animation: swing-in 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
/* Fade-in */
@-webkit-keyframes fade-in {
  0% { opacity: 0%; }
  100% { opacity: 100%; }
}
@keyframes fade-in {
	0% { opacity: 0%; }
  100% { opacity: 100%; }
}
/* Fade-out-in */
@-webkit-keyframes fade-out-in {
  0% { opacity: 100%; }
	25% { opacity: 0%; }
	60% { opacity: 0%; }
  100% { opacity: 100%; }
}
@keyframes fade-out-in {
	0% { opacity: 100%; }
	25% { opacity: 0%; }
	60% { opacity: 0%; }
  100% { opacity: 100%; }
}
/* Rotate 360° */
@-webkit-keyframes three-sixty {
	0% { transform: rotateZ(0); }
	100% { transform: rotateZ(720deg); }
}
@keyframes three-sixty {
	0% { transform: rotateZ(0); }
	100% { transform: rotateZ(720deg); }
}
/* Swing in */
@-webkit-keyframes swing-in {
  0% {
    -webkit-transform: rotateX(70deg);
            transform: rotateX(70deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in {
  0% {
    -webkit-transform: rotateX(70deg);
            transform: rotateX(70deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
