/* 1. HTML, BODY, FONTS & COLORS
______________________________________________________ */
html, body {
	height: 100%;
	overflow: hidden;
	color: white;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image: linear-gradient(0deg, sandybrown, royalblue);
}
/* FONTS */
/* Home screen big title */
h1 {
	font-family: "Courier New", Courier, monospace;
	font-size: 9rem;
	font-weight: 400;
	margin: 0;
}
/* Main page title/logo */
h2 {
	font-family: "Courier New", Courier, monospace;
	font-size: 3.8rem;
	font-weight: 400;
}
/* FR | EN & subtitle's description */
h3 {
	font-family: monospace;
	font-size: 1rem;
	font-weight: 300;
	display: inherit;
}
/* Miniature's overscreen infos */
h4 {
	font-size: .9rem;
}
/* overscreen font */
h5 {
	font-size: 1rem;
	font-weight: 300;
	margin: 15px 0;
}
/* Bottom nav categories */
h6 {
	font-size: 1.15rem;
}
.z-index {
	position: relative;
	z-index: 1;
}
.cursor {
	cursor: pointer;
}
/* Vertical slider */
#slider {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
	transition: transform 0.5s ease-in-out;
}
.slider-down {
	transform: translateY(-100vh);
}
.slider-down-2 {
	transform: translateY(-200vh);
}
.three-sixty {
	-webkit-animation: three-sixty 8s linear infinite;
					animation: three-sixty 8s linear infinite;
}
.minus-three-sixty {
	-webkit-animation: three-sixty 10s linear reverse infinite;
					animation: three-sixty 10s linear reverse infinite;
}
/* 2. ANIMATIONS & TRANSITIONS
______________________________________________________ */
@-webkit-keyframes down {
  0% { transform: translate(0, 55vh); opacity: 0; }
	50% { transform: translate(0, -3vh); }
	60% { transform: translate(0, 3vh); }
	70% { transform: translate(0, -1vh); }
	80% { transform: translate(0, 1vh); }
	85% { transform: translate(0, -0.5vh); }
	90% { transform: translate(0, .5vh); }
  100% { transform: translate(0, 0); opacity: 1;}
}
@keyframes down {
	0% { transform: translate(0, 55vh); opacity: 0; }
	50% { transform: translate(0, -3vh); }
	60% { transform: translate(0, 3vh); }
	70% { transform: translate(0, -1vh); }
	80% { transform: translate(0, 1vh); }
	85% { transform: translate(0, -0.5vh); }
	90% { transform: translate(0, .5vh); }
  100% { transform: translate(0, 0); opacity: 1;}
}
/* Up */
@-webkit-keyframes up {
	0% { transform: translate(0, -55vh); opacity: 0; }
	50% { transform: translate(0, 3vh); }
	60% { transform: translate(0, -3vh); }
	70% { transform: translate(0, 1vh); }
	80% { transform: translate(0, -1vh); }
	85% { transform: translate(0, .5vh); }
	90% { transform: translate(0, -0.5vh); }
  100% { transform: translate(0, 0); opacity: 1;}
}
@keyframes up {
	0% { transform: translate(0, -55vh); opacity: 0; }
	50% { transform: translate(0, 3vh); }
	60% { transform: translate(0, -3vh); }
	70% { transform: translate(0, 1vh); }
	80% { transform: translate(0, -1vh); }
	85% { transform: translate(0, .5vh); }
	90% { transform: translate(0, -0.5vh); }
  100% { transform: translate(0, 0); opacity: 1;}
}
/* Fade-in */
@-webkit-keyframes fade-in {
  0% { opacity: 0; }
  .05% { opacity: 1; }
  100% { opacity: 1; }
}
@keyframes fade-in {
  0% { opacity: 0; }
  .05% { opacity: 1; }
  100% { opacity: 1; }
}
/* Fade-out */
@-webkit-keyframes fade-out {
  0% { opacity: 1; }
  .05% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes fade-out {
  0% { opacity: 1; }
  .05% { opacity: 0; }
  100% { opacity: 0; }
}
/* horizontal-slide left */
@-webkit-keyframes slide-left {
  0% { transform: translateX(0); }
  .05% { transform: translateX(-45vw); opacity: 0; }
  .051% { transform: translateX(45vw); opacity: 0; }
	.10% { transform: translateX(0); opacity: 1; }
}
@keyframes slide-left {
  0% { transform: translateX(0); }
  .05% { transform: translateX(-45vw); opacity: 0; }
  .051% { transform: translateX(45vw); opacity: 0; }
	.10% { transform: translateX(0); opacity: 1; }
}
/* horizontal-slide right */
@-webkit-keyframes slide-right {
  0% { transform: translateX(0); }
  .05% { transform: translateX(45vw); opacity: 0; }
  .051% { transform: translateX(-45vw); opacity: 0; }
	.10% { transform: translateX(0); opacity: 1; }
}
@keyframes slide-right {
  0% { transform: translateX(0); }
  .05% { transform: translateX(45vw); opacity: 0; }
  .051% { transform: translateX(-45vw); opacity: 0; }
	.10% { transform: translateX(0); opacity: 1; }
}
/* Rotate 360° */
@-webkit-keyframes three-sixty {
	0% { transform: rotateZ(0); }
	100% { transform: rotateZ(720deg); }
}
@keyframes three-sixty {
	0% { transform: rotateZ(0); }
	100% { transform: rotateZ(720deg); }
}